<!DOCTYPE html>
<html>
    <head>
        <title>List Details</title>
    </head>
    <body>
        <header>Items</header>
        <main>
            <div>
                <h1>{{ items.name }}<h1>
                <h2>Tasks<h2>
                <table>
                    <thead>
                        <tr>Tasks</tr>
                        <tr>Due date</tr>
                    </thead>
                    <tbody>
                        {% for item in items.items.all %}
                        <tr>
                            <td>{{ item.task }}
                            <td>{{ item.due_date }}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
    </body>
</html>
