<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Todo Lists</title>
  </head>
  <body>
    <main>
      <div>
        <h1>My Lists</h1>
        <table>
          <thead>
            <tr>
              <td>Name</td>
              <td>Number of Items</td>
            </tr>
        </thead>
        <tbody>
            {% for todos in list_object.all %}
            <tr>
                <td>
                  <a href="{% url 'todo_list_detail' todos.id %}">{{ todos.name }}</a>
                </td>
                <td>
                  <a href="{% url 'todo_list_detail' todos.id %}">{{ todos.id}}
            </tr>
            {% endfor %}
        </table>
    </div>
</main>
</body>
</html>
